@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css);

img {
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

img[alt="Banner"] {
  max-height: 480px;
  object-fit: cover;
  background-size: cover;
}

p {
  max-width: 72ch;
  line-height: 1.5;
}

.docs-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.docs-grid .card {
  max-width: 480px;
  cursor: pointer;
}

.docs-grid .card:hover,
.docs-grid .card:focus {
  box-shadow: 0px 5px 16px rgba(00, 00, 0, .15);
  transition: all 150ms;
}

.card img {
  padding: 1rem !important;
  margin: 0 !important;
}

.card .params span:first-of-type {
  font-weight: bold;
}

.card .copy-btn {
  position: absolute;
  bottom: 16px;
  right: 16px;
  height: 48px;
  width: 48px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(00, 00, 0, .15);
  transition: all 150ms;
  scale: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.card .copy-btn:hover,
.card .copy-btn:focus {
  background-color: lightgray;
}

.docs-grid .card:hover .copy-btn,
.docs-grid .card:focus .copy-btn {
  scale: 1;
}

@media screen and (min-width: 768px) {
  .docs-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (min-width: 992px) {
  .docs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}